In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import ast
from tqdm import tqdm
sns.set()

from pyathena import connect

In [6]:
conn = connect(s3_staging_dir='s3://aws-athena-query-results-415718651610-us-east-1', region_name='us-east-1')
df = pd.read_sql("SELECT * FROM das.das_events limit 1", conn)

In [8]:
df.describe()

,type,usc_das_id,e_id,e_name,e_status,e_severity,e_tags,e_time,i_id,i_value,...,h_address,h_name,h_conn,t_id,t_severity,t_descr,t_nseverity,t_hostgroup_name,t_value,t_name
count,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
unique,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
top,event,yRkQEgqp9GWZz3B0LGdmwm75LbAnJ0OY,353836153,Zabbix agent on Jira App Producao is unreachab...,PROBLEM,3,,2019-04-04 19:46:53,2254012,Up (1),...,Jira App Producao,Jira App Producao,40.122.39.80,617993,Average,,3,"HG000000000038/SP/Matriz, HG000000000038/SP/Ma...",1,Zabbix agent on Jira App Producao is unreachab...
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-04 19:46:53,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-04 19:46:53,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.head()

,type,usc_das_id,e_id,e_name,e_status,e_severity,e_tags,e_time,i_id,i_value,...,h_address,h_name,h_conn,t_id,t_severity,t_descr,t_nseverity,t_hostgroup_name,t_value,t_name
0,event,yRkQEgqp9GWZz3B0LGdmwm75LbAnJ0OY,353836153,Zabbix agent on Jira App Producao is unreachab...,PROBLEM,3,,2019-04-04 19:46:53,2254012,Up (1),...,Jira App Producao,Jira App Producao,40.122.39.80,617993,Average,,3,"HG000000000038/SP/Matriz, HG000000000038/SP/Ma...",1,Zabbix agent on Jira App Producao is unreachab...

In [12]:
df.dropna(inplace=True)

In [14]:
table = pd.DataFrame(df)

In [16]:
table

,type,usc_das_id,e_id,e_name,e_status,e_severity,e_tags,e_time,i_id,i_value,...,h_address,h_name,h_conn,t_id,t_severity,t_descr,t_nseverity,t_hostgroup_name,t_value,t_name
0,event,yRkQEgqp9GWZz3B0LGdmwm75LbAnJ0OY,353836153,Zabbix agent on Jira App Producao is unreachab...,PROBLEM,3,,2019-04-04 19:46:53,2254012,Up (1),...,Jira App Producao,Jira App Producao,40.122.39.80,617993,Average,,3,"HG000000000038/SP/Matriz, HG000000000038/SP/Ma...",1,Zabbix agent on Jira App Producao is unreachab...

In [17]:
group = table.groupby('t_id')

In [18]:
group.all()

,type,usc_das_id,e_id,e_name,e_status,e_severity,e_tags,e_time,i_id,i_value,...,i_name,h_address,h_name,h_conn,t_severity,t_descr,t_nseverity,t_hostgroup_name,t_value,t_name
t_id,,,,,,,,,,,,,,,,,,,,,
617993,True,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,False,True,True,True,True

In [ ]:
table[table['t_id']=='139076'].iloc[:,:15]

In [ ]:
np.unique(table.i_id.values)

In [ ]:
table[table['i_id']=='1070511'].iloc[:,:15]